<div class="contents-wrapper">
  <h6>Apps:</h6>
  <ul class="contents-list">
    <li routerLinkActive="active" (click)="closeIfMoblie()" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Run Calculator</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="/calculator">Calculator</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="run-log">Run Log</a></li>
    <li routerLinkActive="active" (click)="closeIfMoblie()"><a routerLink="/bmi-calculator">BMI</a></li>
  </ul>
</div>
